// graphworks frameworks v3.0 - grid system

///////////////////////////////////////////////////
// Made With Joe Richardson's (@joericho) Lemonade V2
// Documentation: http://lemonade.im

// clearfix
.gridContainer {
    margin: 0 auto;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Attribute selector
[class*='col-'] {
    float: left;
    padding: $col-padding;
}

// Create grid widths (1-12)
@for $i from $start through $end {
    .col-#{$i} {
        width: $full / $i;
    }
}

// Common widths
@each $i in $common {
    .col-#{$i} {
        width: percentage($i / 100);
    }
}


// Responsiveness
// ------------------------------------------------------

// Mobile
@media (max-width: $small) {
    @for $i from $start through $end {
        .col-#{$i} {
            width: $full
        }
    }
    .gridContainer {
    max-width: $frame-width-small;
    }
}

// Portrait Tablet
@media (min-width: $small) and (max-width: $medium) {
    .col-2,
    .col-4,
    .col-6,
    .col-8,
    .col-10 {
        width: $half;
    }
    
    .col-1,
    .col-3,
    .col-5,
    .col-7,
    .col-11 {
        width: $full;
    }
    
    .col-9,
    .col-12 {
        width: $third;
    }
    
    .gridContainer {
    max-width: $frame-width-medium;
    }
}

// Landscape Tablet
@media (min-width: $medium) and (max-width: $large) {
    .col-11 {
        width: $full;
    }
    
    .col-2,
    .col-4,
    .col-8,
    .col-10 {
        width: $half;
    }
    
    .col-6,
    .col-9,
    .col-12 {
        width: $third;
    }
    
    .gridContainer {
    max-width: $frame-width-large;
    }
}

// Landscape Tablet
@media (min-width: $large) {
    .gridContainer {
    width: $frame-width-large;
    max-width: $frame-width-huge;
    }
}
