/* transitons */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

section {
  background-color: #FFFFFF;
  max-width: 1400px;
  margin: 0 auto;
}

footer {
  padding: 20px 0;
}

h6.made {
  font-size: 14px;
}

.made a {
  color: #71619a !important;
  font-weight: bold;
}

.made .icon-love {
  color: #ed527d;
}

.gridContainer {
  margin: 0 auto;
}
.gridContainer:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 0.6em;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.66667%;
}

.col-7 {
  width: 14.28571%;
}

.col-8 {
  width: 12.5%;
}

.col-9 {
  width: 11.11111%;
}

.col-10 {
  width: 10%;
}

.col-11 {
  width: 9.09091%;
}

.col-12 {
  width: 8.33333%;
}

.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-50 {
  width: 50%;
}

.col-65 {
  width: 65%;
}

.col-75 {
  width: 75%;
}

@media (max-width: 30em) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .col-10 {
    width: 100%;
  }

  .col-11 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }

  .gridContainer {
    max-width: 90%;
  }
}
@media (min-width: 30em) and (max-width: 50em) {
  .col-2,
  .col-4,
  .col-6,
  .col-8,
  .col-10 {
    width: 50%;
  }

  .col-1,
  .col-3,
  .col-5,
  .col-7,
  .col-11 {
    width: 100%;
  }

  .col-9,
  .col-12 {
    width: 33.33333%;
  }

  .gridContainer {
    max-width: 91%;
  }
}
@media (min-width: 50em) and (max-width: 68.75em) {
  .col-11 {
    width: 100%;
  }

  .col-2,
  .col-4,
  .col-8,
  .col-10 {
    width: 50%;
  }

  .col-6,
  .col-9,
  .col-12 {
    width: 33.33333%;
  }

  .gridContainer {
    max-width: 93%;
  }
}
@media (min-width: 68.75em) {
  .gridContainer {
    width: 93%;
    max-width: 1260px;
  }
}
header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 9999999;
  background-color: none;
  border-bottom-style: solid;
  border-bottom-color: #ebebeb;
  border-bottom-width: 0px;
}

section.first {
  margin-top: 74px;
}

nav {
  width: 100%;
  height: 74px;
  display: block;
}
nav ul {
  display: block;
  width: auto;
  height: 74px;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
  width: auto;
  height: auto;
  float: left;
}
nav ul li a {
  display: block;
  width: auto;
  height: 74px;
  line-height: 74px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  color: #777777 !important;
  font-size: 14px;
}
nav ul li a.current {
  background-color: #71619a !important;
  color: #FFFFFF !important;
}
nav ul li a:hover {
  background-color: #f2f2f2;
  color: #777777;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
nav ul li aa.current:hover {
  background-color: #71619a !important;
  color: #FFFFFF !important;
}

header .gridContainer a.logo {
  float: left;
  display: block;
  height: 74px;
  width: 20%;
  /* logowidth */
  min-width: 180px;
  /* logo minwidth */
  max-width: 280px;
  /* logo maxwidth */
  overflow: hidden;
}
header .gridContainer a.logo img {
  display: block;
  float: left;
  vertical-align: middle;
  height: 74px;
  width: 100%;
}

header .scrooler ul#mobile_nav, .hamburger {
  display: none;
}

@media only screen and (max-width: 50em) {
  header .gridContainer nav ul {
    display: none;
  }

  header .gridContainer a.hamburger {
    float: right;
    display: block;
    height: 74px;
    width: 7%;
    max-width: 30px;
    overflow: hidden;
  }
  header .gridContainer a.hamburger figure svg {
    display: block;
    float: left;
    vertical-align: middle;
    height: 74px;
    width: 100%;
  }
  header .gridContainer a.hamburger .toggler rect {
    fill: #CCCCCC;
  }
  header .gridContainer a.hamburger figure svg:hover rect {
    fill: #BCBCBC;
  }

  header .scroller {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 74px;
    left: 0;
    overflow-y: scroll;
  }

  header .scroller ul#mobile_nav {
    display: none;
    width: 100%;
    position: relative;
    height: 360px;
    /* x1.2 correction */
    min-height: 360px;
    /* x1.2 correction */
    padding: 0;
    margin: 0;
    z-index: 999999;
  }

  header .scroller ul#mobile_nav {
    display: none;
  }

  header .scroller ul#mobile_nav li {
    width: 100%;
    clear: both;
    display: block;
    float: left;
    padding: 0 5%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  header .scroller ul#mobile_nav li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  header .scroller ul#mobile_nav li a {
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    color: #f9a244;
    width: 100%;
    font-weight: 400 !important;
    text-decoration: none;
  }

  header .scroller ul#mobile_nav li a.current {
    background-color: white;
    color: #8f8e8e;
  }
}
@media screen and (min-width: 50em) and (max-width: 68.75em) {
  nav ul li a {
    padding: 0 12px/2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }

  .pad17 {
    display: none !important;
  }
}
@media screen and (min-width: 68.75em) {
  nav ul li a {
    padding: 0 12px/1.6;
    font-size: 14px;
  }
}
html {
  font-size: 62.5%;
  /* 1 */
}

body {
  font-family: "Open Sans", sans-serif;
  color: #888888;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24.0px;
  line-height: 2.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 200 !important;
  color: #888888;
}

h2 {
  font-weight: 800 !important;
  color: #888888;
}

h3 {
  font-weight: 300 !important;
  color: #888888;
}

h4 {
  font-weight: 700 !important;
  color: #888888;
}

h5 {
  font-weight: 300 !important;
  color: #888888;
}

h6 {
  font-weight: 300 !important;
  color: #888888;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.underline {
  text-decoration: underline !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.ultralight {
  font-weight: 100 !important;
}

.light {
  font-weight: 200 !important;
}

.normal {
  font-weight: 300 !important;
}

.bold, b {
  font-weight: 700 !important;
}

.extra-bold {
  font-weight: 800 !important;
}

a:link {
  color: #888888;
  text-decoration: none;
}

a:visited {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #888888;
  text-decoration: none;
}

a:active {
  color: #888888;
  text-decoration: none;
}

a.u-hover {
  text-decoration: none;
}

a.u-hover:hover {
  text-decoration: underline !important;
}

@media only screen and (max-width: 30em) {
  h1 {
    font-size: 22.75px;
    font-size: 2.275rem;
    line-height: 36.4px;
    line-height: 3.64rem;
  }

  h2 {
    font-size: 20.15px;
    font-size: 2.015rem;
    line-height: 32.24px;
    line-height: 3.224rem;
  }

  h3 {
    font-size: 17.55px;
    font-size: 1.755rem;
    line-height: 28.08px;
    line-height: 2.808rem;
  }

  h4 {
    font-size: 15.6px;
    font-size: 1.56rem;
    line-height: 24.18px;
    line-height: 2.418rem;
  }

  h5 {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 22.5px;
    line-height: 2.25rem;
  }

  h6 {
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 17.92px;
    line-height: 1.792rem;
  }
}
@media only screen and (min-width: 30em) {
  h1 {
    font-size: 24.5px;
    font-size: 2.45rem;
    line-height: 39.2px;
    line-height: 3.92rem;
  }

  h2 {
    font-size: 21.7px;
    font-size: 2.17rem;
    line-height: 34.72px;
    line-height: 3.472rem;
  }

  h3 {
    font-size: 18.9px;
    font-size: 1.89rem;
    line-height: 30.24px;
    line-height: 3.024rem;
  }

  h4 {
    font-size: 16.8px;
    font-size: 1.68rem;
    line-height: 26.04px;
    line-height: 2.604rem;
  }

  h5 {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 22.5px;
    line-height: 2.25rem;
  }

  h6 {
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 17.92px;
    line-height: 1.792rem;
  }
}
@media only screen and (min-width: 50em) {
  h1 {
    font-size: 28.0px;
    font-size: 2.8rem;
    line-height: 44.8px;
    line-height: 4.48rem;
  }

  h2 {
    font-size: 24.8px;
    font-size: 2.48rem;
    line-height: 39.68px;
    line-height: 3.968rem;
  }

  h3 {
    font-size: 21.6px;
    font-size: 2.16rem;
    line-height: 34.56px;
    line-height: 3.456rem;
  }

  h4 {
    font-size: 19.2px;
    font-size: 1.92rem;
    line-height: 29.76px;
    line-height: 2.976rem;
  }

  h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24.0px;
    line-height: 2.4rem;
  }

  h6 {
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 17.92px;
    line-height: 1.792rem;
  }
}
@media only screen and (min-width: 68.75em) {
  h1 {
    font-size: 31.5px;
    font-size: 3.15rem;
    line-height: 50.4px;
    line-height: 5.04rem;
  }

  h2 {
    font-size: 27.9px;
    font-size: 2.79rem;
    line-height: 44.64px;
    line-height: 4.464rem;
  }

  h3 {
    font-size: 24.3px;
    font-size: 2.43rem;
    line-height: 38.88px;
    line-height: 3.888rem;
  }

  h4 {
    font-size: 21.6px;
    font-size: 2.16rem;
    line-height: 33.48px;
    line-height: 3.348rem;
  }

  h5 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 27px;
    line-height: 2.7rem;
  }

  h6 {
    font-size: 14.4px;
    font-size: 1.44rem;
    line-height: 20.16px;
    line-height: 2.016rem;
  }
}
@media only screen and (min-width: 87.5em) {
  h1 {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 56.0px;
    line-height: 5.6rem;
  }

  h2 {
    font-size: 31px;
    font-size: 3.1rem;
    line-height: 49.6px;
    line-height: 4.96rem;
  }

  h3 {
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 43.2px;
    line-height: 4.32rem;
  }

  h4 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 37.2px;
    line-height: 3.72rem;
  }

  h5 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22.4px;
    line-height: 2.24rem;
  }
}
input[type="text"],
input[type="password"],
textarea {
  float: left;
  display: block;
  border: none;
  padding: 0 2%;
  margin: 0 4% 4% 0;
  height: 40px;
  line-height: 40px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: #6d6d6d;
  font-size: 12px;
  font-weight: 300;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  outline: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
input[type="text"]:focus, input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
textarea:focus,
textarea:active {
  background-color: #FFFFFF;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

input.full_width, textarea.full_width {
  width: 100% !important;
  padding-right: 2%;
  padding-left: 2%;
  margin: 0 0% 4% 0 !important;
}
input.width_50, textarea.width_50 {
  width: 49% !important;
  padding-right: 2%;
  padding-left: 2%;
  margin: 0 2% 4% 0 !important;
}
input.width_50.last, textarea.width_50.last {
  margin: 0 0% 4% 0 !important;
}
input.width_33, textarea.width_33 {
  width: 32% !important;
  padding-right: 2%;
  padding-left: 2%;
  margin: 0 2% 4% 0 !important;
}
input.width_33.last, textarea.width_33.last {
  margin: 0 0% 4% 0 !important;
}

textarea {
  min-height: 80px;
  padding: 1.5% 2%;
  line-height: 21.6px;
}

.round-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border: 2px;
}

.round-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 3px;
}

.round-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border: 4px;
}

.round-6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border: 6px;
}

.round-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border: 8px;
}

@media only screen and (max-width: 50em) {
  input,
  input[type="text"],
  input[type="password"],
  textarea {
    width: 96% !important;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0 0% 4% 0 !important;
  }
  input.width_50, input.width_33,
  input[type="text"].width_50,
  input[type="text"].width_33,
  input[type="password"].width_50,
  input[type="password"].width_33,
  textarea.width_50,
  textarea.width_33 {
    width: 96% !important;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0 0% 4% 0 !important;
  }

  textarea {
    padding: 1.5% 2% !important;
  }
}
input.placeholder, textarea.placeholder {
  color: #6d6d6d;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #6d6d6d;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6d6d6d;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #6d6d6d;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #6d6d6d;
}

input:active.placeholder, input:focus.placeholder, textarea:active.placeholder, textarea:focus.placeholder {
  color: #eaeaea;
}
input:active:-moz-placeholder, input:focus:-moz-placeholder, textarea:active:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: #eaeaea;
}
input:active::-moz-placeholder, input:focus::-moz-placeholder, textarea:active::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #eaeaea;
}
input:active:-ms-input-placeholder, input:focus:-ms-input-placeholder, textarea:active:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #eaeaea;
}
input:active::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, textarea:active::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #eaeaea;
}

.button, .btn, button, input[type="button"], input[type="submit"] {
  width: auto;
  display: block;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 0;
  background: #f2f2f2;
  color: #333333;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}
.button:hover, .btn:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background: #e6e6e6;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.button.w100, .btn.w100, button.w100, input[type="button"].w100, input[type="submit"].w100 {
  width: 100%;
  clear: both;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: center;
}
.button.invert, .btn.invert, button.invert, input[type="button"].invert, input[type="submit"].invert {
  border: 2px solid #f2f2f2;
  background: none !important;
}
.button.invert:hover, .btn.invert:hover, button.invert:hover, input[type="button"].invert:hover, input[type="submit"].invert:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}
.button.small, .btn.small, button.small, input[type="button"].small, input[type="submit"].small {
  padding: .25em 1em;
  font-size: .75em;
}
.button.normal, .btn.normal, button.normal, input[type="button"].normal, input[type="submit"].normal {
  padding: .5em 1.75em;
  font-size: 1em;
}
.button.large, .btn.large, button.large, input[type="button"].large, input[type="submit"].large {
  padding: .75em 2em;
  font-size: 1.1em;
}
.button.huge, .btn.huge, button.huge, input[type="button"].huge, input[type="submit"].huge {
  padding: 1em 3em;
  font-size: 1.25em;
}
.button.round-2, .btn.round-2, button.round-2, input[type="button"].round-2, input[type="submit"].round-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border: 2px;
}
.button.round-3, .btn.round-3, button.round-3, input[type="button"].round-3, input[type="submit"].round-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 3px;
}
.button.round-4, .btn.round-4, button.round-4, input[type="button"].round-4, input[type="submit"].round-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border: 4px;
}
.button.round-6, .btn.round-6, button.round-6, input[type="button"].round-6, input[type="submit"].round-6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border: 6px;
}
.button.round-8, .btn.round-8, button.round-8, input[type="button"].round-8, input[type="submit"].round-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border: 8px;
}
.button.btn_1, .btn.btn_1, button.btn_1, input[type="button"].btn_1, input[type="submit"].btn_1 {
  background: #71619a;
  color: #FFFFFF;
}
.button.btn_1:hover, .btn.btn_1:hover, button.btn_1:hover, input[type="button"].btn_1:hover, input[type="submit"].btn_1:hover {
  background: #8779ab;
}
.button.btn_1.color-invert, .btn.btn_1.color-invert, button.btn_1.color-invert, input[type="button"].btn_1.color-invert, input[type="submit"].btn_1.color-invert {
  background: none;
  color: #71619a;
  border: 1px solid #71619a;
}
.button.btn_1.color-invert:hover, .btn.btn_1.color-invert:hover, button.btn_1.color-invert:hover, input[type="button"].btn_1.color-invert:hover, input[type="submit"].btn_1.color-invert:hover {
  background: #71619a !important;
  color: #4f436b;
  border-color: #635587;
}
.button.btn_1.border, .btn.btn_1.border, button.btn_1.border, input[type="button"].btn_1.border, input[type="submit"].btn_1.border {
  border: 1px solid #635587;
}
.button.btn_1.border:hover, .btn.btn_1.border:hover, button.btn_1.border:hover, input[type="button"].btn_1.border:hover, input[type="submit"].btn_1.border:hover {
  border: 1px solid #6c5d94 !important;
}
.button.btn_2, .btn.btn_2, button.btn_2, input[type="button"].btn_2, input[type="submit"].btn_2 {
  background: #48505a;
  color: #FFFFFF;
}
.button.btn_2:hover, .btn.btn_2:hover, button.btn_2:hover, input[type="button"].btn_2:hover, input[type="submit"].btn_2:hover {
  background: #5a6471;
}
.button.btn_2.color-invert, .btn.btn_2.color-invert, button.btn_2.color-invert, input[type="button"].btn_2.color-invert, input[type="submit"].btn_2.color-invert {
  background: none;
  color: #48505a;
  border: 1px solid #48505a;
}
.button.btn_2.color-invert:hover, .btn.btn_2.color-invert:hover, button.btn_2.color-invert:hover, input[type="button"].btn_2.color-invert:hover, input[type="submit"].btn_2.color-invert:hover {
  background: #48505a !important;
  color: #262a2f;
  border-color: #3a4149;
}
.button.btn_2.border, .btn.btn_2.border, button.btn_2.border, input[type="button"].btn_2.border, input[type="submit"].btn_2.border {
  border: 1px solid #3a4149;
}
.button.btn_2.border:hover, .btn.btn_2.border:hover, button.btn_2.border:hover, input[type="button"].btn_2.border:hover, input[type="submit"].btn_2.border:hover {
  border: 1px solid #434b54 !important;
}
.button.btn_3, .btn.btn_3, button.btn_3, input[type="button"].btn_3, input[type="submit"].btn_3 {
  background: #babec1;
  color: #FFFFFF;
}
.button.btn_3:hover, .btn.btn_3:hover, button.btn_3:hover, input[type="button"].btn_3:hover, input[type="submit"].btn_3:hover {
  background: #cfd2d4;
}
.button.btn_3.color-invert, .btn.btn_3.color-invert, button.btn_3.color-invert, input[type="button"].btn_3.color-invert, input[type="submit"].btn_3.color-invert {
  background: none;
  color: #babec1;
  border: 1px solid #babec1;
}
.button.btn_3.color-invert:hover, .btn.btn_3.color-invert:hover, button.btn_3.color-invert:hover, input[type="button"].btn_3.color-invert:hover, input[type="submit"].btn_3.color-invert:hover {
  background: #babec1 !important;
  color: #92989d;
  border-color: #aaafb3;
}
.button.btn_3.border, .btn.btn_3.border, button.btn_3.border, input[type="button"].btn_3.border, input[type="submit"].btn_3.border {
  border: 1px solid #aaafb3;
}
.button.btn_3.border:hover, .btn.btn_3.border:hover, button.btn_3.border:hover, input[type="button"].btn_3.border:hover, input[type="submit"].btn_3.border:hover {
  border: 1px solid #b5b9bc !important;
}
.button.btn_4, .btn.btn_4, button.btn_4, input[type="button"].btn_4, input[type="submit"].btn_4 {
  background: #a0cf3a;
  color: #FFFFFF;
}
.button.btn_4:hover, .btn.btn_4:hover, button.btn_4:hover, input[type="button"].btn_4:hover, input[type="submit"].btn_4:hover {
  background: #b0d75b;
}
.button.btn_4.color-invert, .btn.btn_4.color-invert, button.btn_4.color-invert, input[type="button"].btn_4.color-invert, input[type="submit"].btn_4.color-invert {
  background: none;
  color: #a0cf3a;
  border: 1px solid #a0cf3a;
}
.button.btn_4.color-invert:hover, .btn.btn_4.color-invert:hover, button.btn_4.color-invert:hover, input[type="button"].btn_4.color-invert:hover, input[type="submit"].btn_4.color-invert:hover {
  background: #a0cf3a !important;
  color: #739825;
  border-color: #90bc2e;
}
.button.btn_4.border, .btn.btn_4.border, button.btn_4.border, input[type="button"].btn_4.border, input[type="submit"].btn_4.border {
  border: 1px solid #90bc2e;
}
.button.btn_4.border:hover, .btn.btn_4.border:hover, button.btn_4.border:hover, input[type="button"].btn_4.border:hover, input[type="submit"].btn_4.border:hover {
  border: 1px solid #9ccd32 !important;
}

.notification {
  display: block;
  width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  margin-bottom: 20px;
  position: relative;
}

.close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #000;
  z-index: 5;
  border: 0;
  cursor: pointer;
  display: block;
}

.danger {
  color: #e66959 !important;
}

.warning {
  color: #fdc347 !important;
}

.info {
  color: #88cceb !important;
}

.success {
  color: #bad964 !important;
}

.danger:hover {
  color: #eb897c !important;
}

.warning:hover {
  color: #fdd06f !important;
}

.info:hover {
  color: #abdbf1 !important;
}

.success:hover {
  color: #c9e185 !important;
}

.danger.inv {
  background-color: #e66959 !important;
  color: #FFFFFF !important;
}

.warning.inv {
  background-color: #fdc347 !important;
  color: #FFFFFF !important;
}

.info.inv {
  background-color: #88cceb !important;
  color: #FFFFFF !important;
}

.success.inv {
  background-color: #bad964 !important;
  color: #FFFFFF !important;
}

.danger.inv:hover {
  background-color: #eb897c !important;
}

.warning.inv:hover {
  background-color: #fdd06f !important;
}

.info.inv:hover {
  background-color: #abdbf1 !important;
}

.success.inv:hover {
  background-color: #c9e185 !important;
}

/* Select */
.sbHolder {
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc !important;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 45px;
  position: relative;
  width: 100%;
  outline: 0 !important;
  margin-bottom: 15px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 3px;
}

.sbSelector {
  display: block;
  height: 45px;
  left: 0;
  line-height: 45px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 100%;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
  color: #6d6d6d;
  outline: none;
  text-decoration: none;
}

.sbToggle:before {
  /*background: url(../img/select-icons.png) 0 -116px no-repeat;*/
  content: "\e616";
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 45px;
  display: block;
  height: 45px;
  outline: none !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  color: #6d6d6d;
}

.sbToggle:hover {
  /* background: url(../img/select-icons.png) 0 -167px no-repeat; */
}

.sbToggleOpen:before {
  /* background: url(../img/select-icons.png) 0 -16px no-repeat; */
  content: "\e61a" !important;
}

.sbToggleOpen:hover {
  /* background: url(../img/select-icons.png) 0 -66px no-repeat; */
}

.sbHolderDisabled {
  background-color: #3C3C3C;
  border: solid 1px #515151;
}

.sbOptions {
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  list-style: none;
  left: -1px;
  margin: -1px 0 0 0;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}

.sbOptions li {
  padding: 0 7px;
}

.sbOptions a {
  border-bottom: dotted 1px #e6e8ea;
  display: block;
  outline: none;
  padding: 7px 0 7px 3px;
}

.sbOptions a:link, .sbOptions a:visited {
  color: #6d6d6d;
  text-decoration: none;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus {
  color: #333333;
  background: white;
}

.sbOptions li.last a {
  border-bottom: none;
}

.sbOptions .sbDisabled {
  border-bottom: dotted 1px #e6e8ea;
  color: #6d6d6d;
  display: block;
  padding: 7px 0 7px 3px;
}

.sbOptions .sbGroup {
  border-bottom: 1px dotted #e6e8ea;
  color: #454545;
  display: block;
  font-weight: bold;
  padding: 7px 0 7px 3px;
}

.sbOptions .sbSub {
  padding-left: 17px;
}

/* Checkbox, Radio */
.checkbox,
.radio {
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 15px;
  color: #93979d;
  /******* Label text color *******/
  line-height: 1.5;
  padding: 0 0 0 28px;
  margin: 0 20px 12px 0;
  display: block;
}

.checkbox input, .radio input {
  outline: none !important;
  display: none;
}

.checkbox .icons,
.radio .icons {
  color: #93979d;
  /******* Glyph icon color *******/
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.checked,
.radio.checked {
  color: #71619a;
  /******* Checked label color *******/
}

.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #71619a;
  /******* Checked glyph color *******/
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #e6e8ea;
  /******* Disabled text color *******/
}

.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #e6e8ea;
  /******* Disabled glyph color *******/
}

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #e6e8ea;
  /******* Disabled glyph color *******/
}

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #e6e8ea;
  /******* Disabled glyph color *******/
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}

/* BreadCrumb */
.breadcrumb {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #73629c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.breadcrumb ul {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.breadcrumb .icon {
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  float: left;
  padding-right: 8px;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  color: #FFF;
  display: block;
  background: #73629c;
  text-decoration: none;
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 10px;
  text-align: center;
  margin-right: 20px;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -kthtml-transition: none;
  transition: none;
}

.breadcrumb li:nth-child(even) a {
  background-color: #8779b2;
}

.breadcrumb li:nth-child(even) a:before {
  border-color: #8779b2;
  border-left-color: transparent;
}

.breadcrumb li:nth-child(even) a:after {
  border-left-color: #8779b2;
}

.breadcrumb li:first-child a {
  padding-left: 15px;
}

.breadcrumb li:first-child a:before {
  border: none;
}

.breadcrumb li:last-child a {
  padding-right: 15px;
}

.breadcrumb li:last-child a:after {
  border: none;
}

.breadcrumb li a:before, .breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #73629c;
  border-width: 30px 15px;
  width: 0;
  height: 0;
}

.breadcrumb li a:before {
  left: -22px;
  border-left-color: transparent;
}

.breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #73629c;
}

.breadcrumb li a:hover,
.breadcrumb li a.current,
.breadcrumb li a.current:hover {
  background-color: #1abc9c;
}

.breadcrumb li a:hover:before,
.breadcrumb li a.current:before,
.breadcrumb li a.current:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}

.breadcrumb li a:hover:after,
.breadcrumb li a.current:after,
.breadcrumb li a.current:hover:after {
  border-left-color: #1abc9c;
}

.breadcrumb li a:active {
  background-color: #16a085;
}

.breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}

.breadcrumb li a:active:after {
  border-left-color: #16a085;
}

.rwd-table {
  margin: 1em 0;
  width: 100%;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  box-sizing: border-box;
  line-height: 1.7em;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 50em) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 50em) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  color: #575757;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #b3b3b3;
}
.rwd-table th {
  line-height: 3.4em;
  background-color: #efefef;
}
@media (min-width: 50em) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #575757;
  margin: .5em 1em;
}

.popup-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000000;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.popup-overlay.hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.popup-overlay.visible {
  visibility: visible;
  opacity: 100%;
  filter: alpha(opacity=100);
}

.popup {
  display: block;
  position: fixed;
  width: 80%;
  max-width: 1200px;
  height: 100%;
  top: 0;
  left: 10%;
  margin-left: 0px;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 10000001;
  -webkit-transition: all 0.65s ease-out;
  -moz-transition: all 0.65s ease-out;
  -o-transition: all 0.65s ease-out;
  -ms-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.popup.hidden {
  top: -120%;
}
.popup.visible {
  top: 0%;
}
.popup a.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #767676;
  text-decoration: none;
  z-index: 10000002;
}
.popup a.close:hover {
  color: #999999;
}
.popup .loadcontent {
  display: block;
  padding: 50px 30px;
}

@media only screen and (max-width: 43.813em) {
  .popup {
    width: 100%;
    left: 0;
  }
}
/* Preload images */
body:after {
  content: url(../image/lightbox/close.png) url(../image/lightbox/loading.gif) url(../image/lightbox/prev.png) url(../image/lightbox/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.flickerplate {
  position: relative;
  width: 100%;
  max-width: 1450px;
  overflow: hidden;
  margin: 0 auto;
}
.flickerplate .content {
  bottom: 20%;
  width: 52%;
  position: absolute;
}
.flickerplate ul.flicks {
  width: 10000%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.flickerplate ul.flicks > li {
  float: left;
  width: 1%;
  background-position: center;
  background-size: cover;
  vertical-align: bottom;
  line-height: normal !important;
  max-width: 100%;
  height: auto;
}
.flickerplate ul.flicks > li h2 {
  padding: 10px 0;
  color: #71619a;
}
.flickerplate ul.flicks > li h3 {
  padding: 10px 0;
  color: #FFFFFF !important;
}
.flickerplate ul.flicks > li .image {
  min-height: 340px;
  max-height: 480px;
}
.flickerplate ul.flicks > li img {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-height: 340px;
}
.flickerplate ul.flicks > li .flick-inner {
  vertical-align: bottom;
  line-height: normal !important;
  max-width: 100%;
  height: auto;
}
.flickerplate ul.flicks > li .flick-inner .flick-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.flickerplate ul.flicks > li .flick-inner .button {
  display: inline-block;
  text-decoration: none;
  background: #71619a;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 3.5%;
  color: #ffffff;
  margin-top: 25px;
}
.flickerplate ul.flicks > li .flick-inner .button:hover {
  background: #8d7faf;
}
.flickerplate .arrow-navigation {
  position: absolute;
  height: 80%;
  width: 10%;
  top: 10%;
  z-index: 100;
  overflow: hidden;
}
.flickerplate .arrow-navigation .arrow {
  display: block;
  height: 100%;
  width: 90%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.flickerplate .arrow-navigation:hover, .flickerplate .arrow-navigation .arrow:hover {
  cursor: pointer;
}
.flickerplate .arrow-navigation.left {
  left: 0%;
}
.flickerplate .arrow-navigation.left .arrow {
  opacity: 0;
  margin: 0px 0px 0px 50%;
}
.flickerplate .arrow-navigation.left.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px 20%;
}
.flickerplate .arrow-navigation.right {
  right: 0%;
}
.flickerplate .arrow-navigation.right .arrow {
  opacity: 0;
  margin: 0px 0px 0px -50%;
}
.flickerplate .arrow-navigation.right.hover .arrow {
  opacity: 1;
  margin: 0px 0px 0px -20%;
}
.flickerplate .dot-navigation {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 9;
  right: 0;
}
.flickerplate .dot-navigation ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
.flickerplate .dot-navigation ul li {
  display: inline-block;
  float: none;
}
.flickerplate .dot-navigation .dot {
  width: 20px;
  height: 20px;
  margin: 0px 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.flickerplate .dot-navigation .dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}
.flickerplate .dot-navigation .dot.active {
  background-color: white;
}

.flickerplate .dot-navigation.left, .flickerplate .dot-navigation.left ul {
  text-align: left;
}

.flickerplate .dot-navigation.center, .flickerplate .dot-navigation.center ul {
  text-align: center;
}

.flickerplate .dot-navigation.right, .flickerplate .dot-navigation.right ul {
  text-align: right;
}

.flickerplate.animate-transform-slide ul.flicks {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0%, 0px, 0px);
  -webkit-transform: translate3d(0%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}

.flickerplate.animate-transition-slide ul.flicks {
  position: relative;
  left: 0%;
  -webkit-transition: left 0.4s ease-out;
  -moz-transition: left 0.4s ease-out;
  -o-transition: left 0.4s ease-out;
  -ms-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}

.flickerplate.animate-jquery-slide ul.flicks {
  position: relative;
  left: 0%;
}

.flickerplate.animate-scroller-slide {
  padding-bottom: 0px;
  overflow: auto;
}

.flickerplate.animate-scroller-slide ul.flicks {
  position: static;
}

@media only screen and (max-width: 720px) {
  .flicker-slider ul li .gridContainer .content h2 {
    padding: 14px !important;
  }

  .flicker-slider ul li .gridContainer .content h3 {
    display: none;
  }
}
@media only screen and (min-width: 720px) and (max-width: 800px) {
  .flicker-slider ul li .gridContainer .content h2 {
    font-size: 26px;
  }

  .flicker-slider ul li .gridContainer .content h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .flicker-slider ul li .gridContainer .content h2 {
    font-size: 30px;
  }

  .flicker-slider ul li .gridContainer .content h3 {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .flicker-slider ul li .gridContainer .content h2 {
    font-size: 40px;
  }

  .flicker-slider ul li .gridContainer .content h3 {
    font-size: 19px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.float_r {
  float: right !important;
  margin-right: 0 !important;
}

.float_l {
  float: left !important;
  margin-left: 0 !important;
}

.pos_rel {
  position: relative !important;
}

.pos_abs {
  position: absolute !important;
}

.disp_none {
  display: none;
}

.disp_block {
  display: block;
}

.cleaner {
  width: 100%;
  clear: both;
}
.cleaner.h5 {
  height: 5px;
}
.cleaner.h10 {
  height: 10px;
}
.cleaner.h15 {
  height: 15px;
}
.cleaner.h20 {
  height: 20px;
}
.cleaner.h30 {
  height: 30px;
}
.cleaner.h40 {
  height: 40px;
}
.cleaner.h50 {
  height: 50px;
}
.cleaner.h60 {
  height: 60px;
}
.cleaner.h80 {
  height: 80px;
}
.cleaner.line {
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #CCCCCC;
}

/*# sourceMappingURL=main.css.map */
